ul {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 20px;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.one.image {
    width: 400px;
    height: 200px;
    background-color: black;
}