ul {
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
    font-style: normal;
    
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 0 0;
    margin: 0 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 140px;
    background-color: bisque;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.page.one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    background-color: bisque;
    padding: 0 0;
}

.one.content {
    flex: 1 1 0;
    margin: 10px 100px;
}

.one.title {
    font-size: 36px;
    font-weight: 900;
}

.one.content.left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}




